/* Body styles Starts here */
body {
  font-family: Merriweather;
}

/* Banner related styles */
.start {
  position: relative;
  width: 1320px;
  height: 600px;
  padding: 50px 140px 150px 140px;
  overflow: hidden;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1320px;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../resources/Banner\ Image.png");
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 16px;
  margin: 50px 140px 150px 140px;
  background-repeat: no-repeat;
}

.banner-title-style {
  text-align: center;
  display: block;
  color: #fff;
}

.banner-wish {
  margin: 177px 530px 5px;
  font-size: 32px;
  font-weight: 400;
}
.banner-celebration {
  width: 632px;
  font-size: 72px;
  font-weight: 900;
  margin: 18px 344px 177px;
}

/* Main section styles starts here! */
.categories {
  /* width: 1600px;
  height: 7335px; */
  text-align: center;
  display: block;
  font-family: Inter;
  background: #fff;
}

.same-color {
  color: #f00;
}

.off {
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.holiday {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}

.all-categories{
  margin-top: 16px;
  color: #070211;
font-size: 48px;
font-weight: 700;
}
/* .new-year-photo{
  width: 802.9px;
height: 500px;
} */